.footer {
  box-sizing: border-box;
  padding: 79px 70px 20px;
  /* background-color: #202020; */
}

.footer__title {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.footer__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.footer_links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 14.5px;
    padding-bottom: 21px;
  }

  .footer__container {
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer_links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 14.5px;
  }

  .footer__copyright {
    margin-top: 30px;
    font-size: 12px;
    line-height: 14.5px;
  }
}